<%- include('./partials/header.ejs') %>

    <body class='vsc-initialized bg-dark'>

        <div class="signup-form rounded">
            <form action="/cadastrar" enctype="multipart/form-data" method="POST">

                <h2 class='text-secondary'>Cadastre-se</h2>
                <p class="hint-text">Crie a sua conta. É grátis é só leva um minuto! </p>
                <div class="form-group">
                    <div class="col">
                        <input type="text" class="form-control text-dark" name="nome" placeholder="Nome"
                            value="<%= old.nome %>" required="required">
                        <%if(errors.nome){%>
                            <p class="text-danger">
                                <%=errors.nome.msg%>
                            </p>
                            <% } %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                            <input type="text" class="form-control text-dark" name="sobrenome" placeholder="Sobrenome"
                                value="<%=old.sobrenome%>" required="required">
                            <%if(errors.sobrenome){%>
                                <p class="text-danger">
                                    <%=errors.sobrenome.msg%>
                                </p>
                                <% } %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                            <input type="text" class="form-control text-dark" name="celular" placeholder="Celular" id='celular'
                                value="<%=old.celular%>" required="required">
                            <%if(errors.celular){%>
                                <p class="text-danger">
                                    <%=errors.celular.msg%>
                                </p>
                                <% } %>
                    </div>
                </div>
                <div class="form-group">
                        <input type="email" class="form-control text-dark" name="email" placeholder="Email"
                            value="<%=old.email%>" required="required">
                        <%if(errors.email){%>
                            <p class="text-danger">
                                <%=errors.email.msg%>
                            </p>
                            <% } %>
                </div>
                <div class="form-group">
                        <input type="password" class="form-control text-dark" name="senha" placeholder="Senha"
                            value="<%=old.senha%>" required="required">
                        <%if(errors.senha){%>
                            <p class="text-danger">
                                <%=errors.senha.msg%>
                            </p>
                            <% } %>
                </div>
                <div class="form-group">
                        <input type="password" class="form-control text-dark" name="confirmarSenha"
                            placeholder="Confirme a sua senha" value="<%=old.confirmarSenha%>" required="required">
                        <%if(errors.confirmarSenha){%>
                            <p class="text-danger">
                                <%=errors.confirmarSenha.msg%>
                            </p>
                            <% } %>
                </div>
                <div class="form-group my-4">
                    <div class="custom-file">
                        <label class="custom-file-label h5 mb-1" for="inputGroupFile03">Escolha uma foto de perfil:</label> <br>
                        <input type="file" class="custom-file-input" id="inputGroupFile02" name="avatar" accept=".jpg, .jpeg, .png, .webp">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-check-label"><input type="checkbox" name="termos" required="required"> Eu aceito
                        os <a class='text-muted' href="#">Termos de Uso</a> &amp; <a class='text-muted'
                            href="#">Políticas de Privacidade</a></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
                </div>
            </form>
            <div class="retornar-login text-center">Já tem uma conta? <a href="/login">Entre agora</a></div>
        </div>

        <%- include('./partials/footer.ejs') %>