<%- include('./partials/header.ejs') %>

  <body class='bg-dark'>
<div class="container mt-5">
    <div class="row col-md-6 card">
      <form class="box rounded" action='/login' method='POST'>
        <%if(created){%>
          <p class="text-success"> Usuário cadastrado com sucesso! </p>
        <% } %>
        <h1 class='text-secondary mb-4'>Entrar</h1>
        <p class="text-muted"> Entre com seu email e senha: </p>
        <input type="text" name="email" placeholder="Email" value='<%=old.email%>'>
        <%if(errors.email){%>
          <p class="text-danger">
            <%=errors.email.msg%>
          </p>
          <% } %>
        <input type="password" name="senha" placeholder="Senha">
        <%if(errors.senha){%>
          <p class="text-danger">
            <%=errors.senha.msg%>
          </p>
          <% } %>
        <a class="forgot text-muted text-decoration-none" href="/cadastrar">Não tem cadastro? <a class='link-login text-white text-decoration-none' href="/cadastrar">Cadastre-se aqui!</a></a>
        <input type="submit" value="Login">
      </form>
    </div>
</div>
    <%- include('./partials/footer.ejs') %>