<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&family=Merriweather:wght@300;400;700&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/e258bd240c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/curriculo.css">
  <title>Currículo - <%= sessao.nome + ' ' + sessao.sobrenome %></title>
</head>

<body>
  <main>
    <aside>
      <div class="sidebar">
        <img class="profile-picture" src="/images/curriculo/fotoProfissional.jpg" alt="<%= curriculo.nome %>" />
        <h1 class="title-name"><%= sessao.nome + ' ' + sessao.sobrenome %></h1>
        <h3 class="subtitle-role"><%= curriculo.profissao %></h3>
        <div class="social-links">
          <a href="https://github.com/<%= curriculo.github %>" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/<%= curriculo.linkedin %>/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <ul class="personal-data">
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <span><%= curriculo.cidade %> - <%= curriculo.uf %> | <%= curriculo.pais %></span>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:<%= curriculo.email %>"><%= curriculo.email %></a>
          </li>
          <li>
            <i class="fas fa-mobile-alt"></i>
            <a href="tel:+55<%= curriculo.celular %>">+55 <%= curriculo.celular %></a>
          </li>
        </ul>
        <a class="download-button" href="https://wa.me/+55<%= curriculo.whatsapp %>" target="_blank">
          <i class="fab fa-whatsapp"></i>
          <span>Fale comigo</span>
        </a>
        </div>
        </aside>
        <section>
          <article>
            <div class="article-title-wrapper">
              <i class="fas fa-user-astronaut"></i>
              <h2 class="article-title">Sobre mim</h2>
            </div>
            <p><%= curriculo.resumo1 %></p>
            <p><%= curriculo.resumo2 %></p>
            <p><%= curriculo.resumo3 %></p>
          </article>
          <article>
            <div class="article-title-wrapper">
              <i class="fas fa-suitcase"></i>
              <h2 class="article-title">Experiência</h2>
            </div>
            <ul class="timeline">
              <li>
                <h4 class="timeline-title"><%= curriculo.expcargo1 %></h4>
                <h5 class="timeline-time"><%= curriculo.expperiodo1 %></h5>
                <h6 class="timeline-place"><%= curriculo.expempresa1 %></h6>
                <p class="timeline-text"><%= curriculo.expfuncao1 %></p>
              </li>
              <li>
                <h4 class="timeline-title"><%= curriculo.expcargo2 %></h4>
                <h5 class="timeline-time"><%= curriculo.expperiodo2 %></h5>
                <h6 class="timeline-place"><%= curriculo.expempresa2 %></h6>
                <p class="timeline-text"><%= curriculo.expfuncao2 %></p>
              </li>
              <li>
                <h4 class="timeline-title"><%= curriculo.expcargo3 %></h4>
                <h5 class="timeline-time"><%= curriculo.expperiodo3 %></h5>
                <h6 class="timeline-place"><%= curriculo.expempresa3 %></h6>
                <p class="timeline-text"><%= curriculo.expfuncao3 %></p>
              </li>
            </ul>
          </article>
          <article>
            <div class="article-title-wrapper">
              <i class="fas fa-user-graduate"></i>
              <h2 class="article-title">Educação</h2>
            </div>
            <ul class="timeline">
              <li>
                <h4 class="timeline-title"><%= curriculo.cursonome1 %></h4>
                <h5 class="timeline-time"><%= curriculo.cursoperiodo1 %></h5>
                <h6 class="timeline-place"><%= curriculo.cursoinstituicao1 %></h6>
                <p class="timeline-text"><%= curriculo.cursoconhecimento1 %></p>
              </li>
              <li>
                <h4 class="timeline-title"><%= curriculo.cursonome2 %></h4>
                <h5 class="timeline-time"><%= curriculo.cursoperiodo2 %></h5>
                <h6 class="timeline-place"><%= curriculo.cursoinstituicao2 %></h6>
                <p class="timeline-text"><%= curriculo.cursoconhecimento2 %></p>
              </li>
              <li>
                <h4 class="timeline-title"><%= curriculo.cursonome3 %></h4>
                <h5 class="timeline-time"><%= curriculo.cursoperiodo3 %></h5>
                <h6 class="timeline-place"><%= curriculo.cursoinstituicao3 %></h6>
                <p class="timeline-text"><%= curriculo.cursoconhecimento3 %></p>
              </li>
            </ul>
          </article>
          <article>
            <div class="article-title-wrapper">
              <i class="far fa-star"></i>
              <h2 class="article-title">Habilidades</h2>
            </div>
            <div class="skills-container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= curriculo.hardnota1 %>;">
                  <div class="progress-text">
                    <span><%= curriculo.hardnome1 %></span>
                    <span><%= curriculo.hardnota1 %></span>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= curriculo.hardnota2 %>;">
                  <div class="progress-text">
                    <span><%= curriculo.hardnome2 %></span>
                    <span><%= curriculo.hardnota2 %></span>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= curriculo.hardnota3 %>;">
                  <div class="progress-text">
                    <span><%= curriculo.hardnome3 %></span>
                    <span><%= curriculo.hardnota3 %></span>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= curriculo.hardnota4 %>;">
                  <div class="progress-text">
                    <span><%= curriculo.hardnome4 %></span>
                    <span><%= curriculo.hardnota4 %></span>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= curriculo.hardnota5 %>;">
                  <div class="progress-text">
                    <span><%= curriculo.hardnome5 %></span>
                    <span><%= curriculo.hardnota5 %></span>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= curriculo.hardnota6 %>;">
                  <div class="progress-text">
                    <span><%= curriculo.hardnome6 %></span>
                    <span><%= curriculo.hardnota6 %></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="soft-skills">
              <div class="soft-skill">
                <div class="soft-skill-rating" style="--rating: <%= curriculo.softnota1 %>;"></div>
                <h4 class="soft-skill-label"><%= curriculo.softnome1 %></h4>
              </div>
              <div class="soft-skill">
                <div class="soft-skill-rating" style="--rating: <%= curriculo.softnota2 %>;"></div>
                <h4 class="soft-skill-label"><%= curriculo.softnome2 %></h4>
              </div>
              <div class="soft-skill">
                <div class="soft-skill-rating" style="--rating: <%= curriculo.softnota3 %>;"></div>
                <h4 class="soft-skill-label"><%= curriculo.softnome3 %></h4>
              </div>
              <div class="soft-skill">
                <div class="soft-skill-rating" style="--rating: <%= curriculo.softnota4 %>;"></div>
                <h4 class="soft-skill-label"><%= curriculo.softnome4 %></h4>
              </div>
            </div>
          </article>
        </section>
        </main>
        </body>
        
        </html>